<html lang="en">
    <p>Hi {{ season.player }},</p>
    <p>Welcome to the {{ year }} Women's Tennis League! You are signed up for: </p>
    {% if season.doublesA.count == 0 and season.doublesB.count == 0 and season.singles_set.count == 0 %}
        <p><strong>Coaching only</strong></p>
    {%  endif %}
    {% for singles in season.singles_set.all %}
        <p><strong>{{ singles.get_division_display }} Singles</strong></p>
    {% endfor %}
    {% for doubles in season.doublesA.all %}
        <p><strong>{{ doubles.get_division_display }} Doubles with {{ doubles.playerB.player }}</strong></p>
    {% endfor %}
    {% for doubles in season.doublesB.all %}
        <p><strong>{{ doubles.get_division_display }} Doubles with {{ doubles.playerA.player }}</strong></p>
    {% endfor %}

    <p>We have your contact information as follows:</p>
    <p> <strong>Address:</strong> {{ season.player.address }}, {{ season.player.city }} {{ season.player.state }} {{ season.player.zipcode }}</p>
    {% if season.player.cell_phone %}<p><strong>Cell Phone: </strong>{{ season.player.cell_phone }}</p> {% endif %}
    {% if season.player.home_phone %}<p><strong>Home Phone: </strong>{{ season.player.home_phone }}</p> {% endif %}
    {% if season.player.work_phone %}<p><strong>Work Phone: </strong>{{ season.player.work_phone }}</p> {% endif %}
    <p> If any of this information is incorrect, please reply to this email ASAP.</p>
    <p>To see a full league roster, visit the new <a href="https://app.williamsportwomenstennisleague.com/league/roster/2021">WWTL website.</a></p>

</html>